<%= turbo_frame_tag @department do %>
<%= form_with(model: @department, local: true) do |form| %>
<% if @department.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>
  <ul>
    <% @department.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= form.label :dep_name, "Department Name:" %>
  <%= form.text_field :dep_name %>
</div>

<h2>Roles</h2>
<div id="roles">
  <%= form.fields_for :roles do |role_form| %>
  <%= role_form.label :role, "Role:" %>
  <%= role_form.text_field :role %>
  <%= role_form.hidden_field :id %>
  <% end %>
</div>
<%= link_to 'New Role', new_department_role_path(@department) %>
<div>
  <%= form.submit %>
</div>
<% end %>

<%= link_to 'Back', departments_path %>
<% end %>