<h3>部署マスター</h3>

<div class="container">

  <div class="row g-3">
    <!-- Added row and g-3 for spacing -->
    <div class="col-md-6">
      <%= form_with(url: departments_path, method: :get, local: true) do |form| %> <div class="mb-3">

        <div class="row g-15">
          <div class="col-md-3">
            <%= form.select :year, options_for_select(@years.map { |y| [y.year, y.year] }, @selected_year), {}, {class: 'form-control'} %>
          </div>
          <div class="col-md-1">
            <%= form.submit "表示", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= form_with(url: data_upload_path, method: :post) do |f| %>
      <div class="row g-15">
        <%= f.hidden_field :year, value: @selected_year %>
        <div class="col-md-8">
          <%= f.file_field :upload_file, class: "form-control" %>
        </div>
        <div class="col-md-1">
          <%= f.submit "インポートする", data: { turbo_confirm: "#{@selected_year}年度に紐づく申請は削除されますが実行しますか？?" }, class: "btn btn-primary" %>

        </div>
      </div>
      <% end %>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-md-12">
      <% if @departments.any? %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">部署一覧</h5>
          <div class="list-group">
            <% @departments.each do |department| %>
            <div class="list-group-item">
              <h6 class="mb-1"><%= department.dep_name %></h6>

            </div>
            <% end %>
          </div>

          <%= link_to "CSVで出力", export_csv_departments_path(@selected_year), class: "btn btn-success mt-2" %> <%# Add the export link %>
        </div>
      </div>
      <% else %>
      <p class="alert alert-info">選択された年度の部署データはありません。</p>
      <% end %>
    </div>
  </div>
</div>