<h1>部署マスター</h1>

<%= form_with(url: departments_path, method: :get, local: true) do |form| %>
<%= form.label :year, "年度を選択:" %>
<%= form.select :year, options_for_select(@years.map { |y| [y.year, y.year] }, @selected_year) %>
<%= form.submit "表示" %>
<% end %>

<% if @departments.any? %>
<ul>
  <% @departments.each do |department| %>
  <li><%= department.dep_name %></li>
  <% end %>
</ul>
<% else %>
<p>No departments found for the selected year.</p>
<% end %>


<%= form_with(url: data_upload_path, method: :post) do |f| %>
<%= f.hidden_field :year, value: @selected_year %> <%# Pass the selected year to the data upload form %>
<%= f.file_field :upload_file %>
<%= f.submit "インポートする" %>
<% end %>