<div class="card shadow mt-3">

  <div class="card-body mx-3">
    <div class="row py-5">
      <div class="col-1 mt-auto">
        <%= sort_link(@search, :emp_no, '社員番号') %>
      </div>
      <div class="col-1 mt-auto">
        <%= sort_link(@search, :emp_name, '氏名') %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :emp_admin_email, 'メールアドレス') %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :tech_flag, '技術計画推進') %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :wg_flag, '設備計画作業部会') %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :sys_flag, 'システム管理者') %>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <%= link_to "登録", new_admin_user_path, class: "btn btn-outline-primary", data: { turbo_frame: "modal" } %>
      </div>
    </div>

    <div id="admin_user">
      <%= render @admin_users %>
    </div>

  </div>
</div>