<h1>Active Directory アカウント検索</h1>

<%= form_with(url: '/search', method: :get, local: true) do |form| %>
<%= form.label :phone_number, '社員番号:' %>
<%= form.text_field :phone_number %>
<%= form.submit '検索' %>
<% end %>

<% if @search_results %>
<h2>検索結果</h2>
<ul>
  <% @search_results.each do |result| %>
  <li>
    <strong>社員番号:</strong> <%= result['telephoneNumber'] %>
    <br>
    <strong>氏名:</strong> <%= result['displayName'] %>
    <br>
    <strong>部署:</strong> <%= result['department'] %>
    <br>
    <strong>メールアドレス:</strong> <%= result['mail'] %>
    <br>
    <%# その他必要な属性を追加 %>
  </li>
  <% end %>
</ul>
<% end %>