<td><%= apply_data_tab.apply_kind == 1 ? '一般' : (apply_data_tab.apply_kind == 2 ? '放送' : '不明') %></td>
<%
=begin%>
<td><%= apply_data_tab.apply_data_id %></td>
<%
=end%>
<td><%= apply_data_tab.reference_no %></td>
<td>
  <% if apply_data_tab.division.present? && apply_data_tab.division.include?("repair") && !apply_data_tab.division.include?("replace") && !apply_data_tab.division.include?("new") %>
  OH
  <% else %>
  <!-- その他の場合の処理 -->
  <% end %>
</td>
<td><%= apply_data_tab.item_name %></td>
<td><%= apply_data_tab.estimated_cost %></td>
<td><%= apply_data_tab.apply_emp_dep %></td>
<td><%= apply_data_tab.apply_emp_name %>, <%= apply_data_tab.apply_emp_no %></td>
<td><%= translate_append_file_status(apply_data_tab.append_file_status) %></td>

<%
=begin%>
<td><%= format_boss_check_statuses(apply_data_tab) %></td>
<%
=end%>



<td><%= translate_apply_status(apply_data_tab.apply_status) %></td>

<td><%= translate_tech_status(apply_data_tab.tech_status) %></td>

<%
=begin%>
<td><%= apply_data_tab.update_date %></td>
<%
=end%>

<td><%= link_to "詳細", apply_data_tab, data: {turbo_frame: "apply_index_page"} %></td>