<h3>申請一覧（～2025）</h3>

<%= search_form_for @search, data: {turbo_frame: "apply_index"} do |f| %>
<div data-controller="select">
  <%= f.label :year_eq, "対象年度" %>
  <%= f.select :year_eq, @years, { include_blank: true }, { data: { action: "change->select#yearEqChange" } } %>

  <%= f.label :apply_emp_dep_eq, "部署" %>
  <%= f.select :apply_emp_dep_eq, [], { include_blank: "年度を選択してください" }, { data: { select_target: "department" } } %>

  <%= f.label :apply_kind_eq, "申請種別" %>
  <%= f.select :apply_kind_eq, [['一般', 1], ['放送', 2]], { include_blank: true } %>

  <%= f.label :item_name_cont, "品名" %>
  <%= f.search_field :item_name_cont %>

  <%= f.label :specific_contents_cont, "具体的内容" %>
  <%= f.search_field :specific_contents_cont %>

  <%= f.label :apply_emp_name_cont, "申請者" %>
  <%= f.search_field :apply_emp_name_cont %>

  <%= f.submit %>
  <%= link_to "クリア", apply_data_tabs_path %>
</div>
<% end %>

<%= turbo_frame_tag "apply_index" do %>
<table>
  <thead>
    <tr>
      <th class="px-3">対象年度</th>
      <th class="px-3">申請種別</th>
      <th class="px-3">申請番号</th>
      <th class="px-3">整理番号</th>
      <th class="px-25">品名</th>
      <th class="px-3">予定価格（千円）</th>
      <th class="px-20">申請部署</th>
      <th class="px-4">申請者氏名</th>
      <th class="px-4">添付ファイルステータス</th>
      <th class="px-3">申請ステータス</th>
      <th class="px-3">技術計画推進ステータス</th>
      <th class="px-3"></th>
    </tr>
  </thead>
  <tbody>
    <% @apply_data_tabs.each_with_index do |apply_data_tab, index| %>
    <% if index > 0 %>
    <tr class="border-top border-gray-300">
      <% else %>
    <tr>
      <% end %>
      <%= render partial: 'apply_data_tab', locals: { apply_data_tab: apply_data_tab } %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @apply_data_tabs %>
<% end %>