<tr>
  <td class="text-center"><%= apply.year %></td>
  <td class="text-center"><%= apply_kind_label(apply.apply_kind) %></td>
  <td class="text-center"><%= apply.id %></td>
  <td class="text-center"><%= apply.reference_no %></td>
  <td class="text-center"><%= display_oh(apply.division&.oh) %></td>
  <td><%= apply.item_name %></td>
  <td class="text-center"><%= number_with_delimiter(apply.estimated_cost, delimiter: ",") %></td>
  <td><%= apply.department.dep_name rescue "N/A" %></td>
  <td><%= apply.role.role rescue "N/A" %></td>
  <td><%= apply.apply_emp_name %> (<%= apply.apply_emp_no %>)</td>

  <td class="text-center"><%=  boss_status_label(apply.boss1.boss_status) %></td>
  <td class="text-center"><%= apply_status_label(apply.apply_status&.apply_status || "N/A") %></td>
  <td class="text-center"><%= tech_status_label(apply.tech_status.tech_status) %></td>
  <td class="text-center"><%= approve_status_label(apply.approve_status.approve_status) %></td>
  <td class="text-center"><%= apply.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
  <td>



    <%= link_to '詳細', edit_apply_path(apply, link_param1: "show"), data: { turbo: false }, class: "btn btn-dark  ms-2" %>

    <div>
      <% if current_user.login_ref_no.to_i == apply.apply_emp_no.to_i %>
      <%= link_to '編集', edit_apply_path(apply, link_param1: "edit"), data: { turbo: false }, class: "btn btn-light  ms-2" %>
      <% end %>
    </div>
    <div>
      <% if current_user.login_ref_no.to_i == boss1.boss_no.to_i %>
      <%= link_to '原局承認', edit_apply_path(apply, link_param1: "boss"), data: { turbo: false }, class: "btn btn-info ms-2" %>
      <% end %>
    </div>
    <div>
      <% if AdminUser.exists?(emp_no: current_user.login_ref_no.to_i, wg_flag: 1) %>
      <%= link_to '設備作業部会', edit_apply_path(apply, link_param1: "wg"), data: { turbo: false }, class: "btn btn-success ms-2" %>
      <% end %>
    </div>
    <div>
      <% if AdminUser.exists?(emp_no: current_user.login_ref_no.to_i, tech_flag: 1) %>
      <%= link_to '技推確認', edit_apply_path(apply, link_param1: "tech"), data: { turbo: false }, class: "btn btn-danger ms-2" %>
      <% end %>
    </div>
</tr>