<%= form_with(model: apply, local: true) do |form| %>
<% if apply.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(apply.errors.count, "error") %> prohibited this apply from being saved:</h2>

  <ul>
    <% apply.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="row">
  <!-- Added row class for horizontal layout -->
  <div class="col-md-4">
    <!-- Each div gets a column class -->
    <%= form.label :社員番号, style: "display: block;" %>
    <%= form.hidden_field :apply_emp_no, value: @employee_number %> <%= @employee_number %>
  </div>
  <div class="col-md-4">
    <%= form.label :申請者氏名, style: "display: block;" %>
    <%= form.hidden_field :apply_emp_name, value: @employee_user %> <%= @employee_user %>
  </div>
  <div class="col-md-4">
    <%= form.label :部署, style: "display: block;" %>
    <%= form.collection_select :department_id, Department.all, :id, :dep_name, {prompt: "Select Department", selected: @preselected_department&.id}, {class: "form-control"} %>
  </div>
</div> <!-- End of row -->



<div class="row" data-controller="apply">
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :申請種別, class: "d-block" %>
      <div class="form-check form-check-inline">
        <%= form.radio_button :apply_kind, 1, class: "form-check-input", data: { action: "change->apply#applyKindChanged" } %>
        <%= form.label :apply_kind_1, '一般設備', class: "form-check-label" %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :apply_kind, 2, class: "form-check-input", data: { action: "change->apply#applyKindChanged" } %>
        <%= form.label :apply_kind_2, '放送設備', class: "form-check-label" %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div data-apply-target="refNo" class="form-group">
      <%= form.label :整理番号, class: "d-block" %>
      <%= form.text_field :reference_no, class: "form-control" %>
    </div>
  </div>
</div>

<div class="field">
  <%= form.label :区分 %>
  <%= form.fields_for :division, @apply.division || @apply.build_division do |division_form| %>
  <div class="form-check form-check-inline">
    <%= division_form.check_box :new_pur %>
    <%= division_form.label :new_pur, "新規" %>
  </div>
  <div class="form-check form-check-inline">
    <%= division_form.check_box :replace %>
    <%= division_form.label :replace, "更新" %>
  </div>
  <div class="form-check form-check-inline">
    <%= division_form.check_box :repair %>
    <%= division_form.label :repair, "修理" %>
  </div>

  <% end %>
</div>

<div>
  <%= form.label :品名, style: "display: block;" %>
  <%= form.text_field :item_name, class: "form-control" %>
</div>



<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :型式, class: "d-block" %>
      <%= form.text_field :equipment_name, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :製造者名, class: "d-block" %>
      <%= form.text_field :manufacturer_name, class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :取扱業者, class: "d-block" %>
      <%= form.text_field :supplier_name, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :数量, class: "d-block" %>
      <%= form.text_field :quantity, class: "form-control" %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :estimated_cost, '予定価格（千円）', class: "d-block" %>
      <%= form.number_field :estimated_cost, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :希望納期, class: "d-block" %>
      <%= form.date_select :desired_delivery, discard_day: true, include_blank: true, selected: apply.desired_delivery, start_year: Date.today.year, end_year: Date.today.year + 10, class: "form-control" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :設置場所, class: "d-block" %>
      <%= form.text_field :location, class: "form-control" %>
    </div>
  </div>
</div>








<div>
  <%= form.label :申請理由, style: "display: block;" %>
  <%= form.text_field :reason, class: "form-control" %>
</div>

<div>
  <%= form.label :具体的内容, style: "display: block;" %>
  <%= form.text_area :specific_contents, class: "form-control" %>
</div>



<div data-controller="check">
  <div class="form-group form-check">旧品資産フラグ
    <%= form.check_box :old_asset_multi, class: "form-check-input", label: '旧品資産フラグ', checked: apply.old_asset_multi?, data: { action: "change->check#updateOldAssetFields" } %>
  </div>

  <div data-check-target="oldAssetFields" style="display: none;">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :old_asset_no, '旧品資産番号', class: "d-block" %>
          <%= form.text_field :old_asset_no, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :old_asset_YM, '旧品取得年月', class: "d-block" %>
          <%= form.date_select :old_asset_YM, discard_day: true, include_blank: true, selected: apply.old_asset_YM, start_year: Date.today.year - 25, end_year: Date.today.year - 1, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :old_asset_cost, '旧品予定価格（千円）', class: "d-block" %>
          <%= form.number_field :old_asset_cost, class: "form-control" %>
        </div>
      </div>
      <div>
        <%= form.label :旧品処理方法, style: "display: block;" %>
        <%= form.text_field :old_asset_handling, class: "form-control" %>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-4 mb-3">
    <%= form.label :boss1_no, "承認者の社員番号を入力してください", class: "form-label" %>
    <%= form.text_field :boss1_no, class: "form-control", id: "boss-param-input" %>
  </div>
  <div class="col-md-4 mb-3 align-self-end">
    <%
=begin%>
    <%= link_to "承認者1", applies_boss_path(@boss1), data: { turbo_frame: "boss1" } %>
    <%
=end%>
  </div>
  <div class="col-md-4 mb-3 align-self-end">
    <%= turbo_frame_tag "boss1" do %>
    置換元
    <% end %>
  </div>
</div>









<% unless apply.new_record? %>

<div>
  <%= form.label :設備計画作業部会コメント, style: "display: block;" %>
  <%= form.text_area :sk_comment, class: "form-control" %>
</div>

<div>
  <%= form.label :技術計画推進コメント, style: "display: block;" %>
  <%= form.text_area :wg_comment, class: "form-control" %>
</div>



<div>
  <%= form.label :回答コメント, style: "display: block;" %>
  <%= form.text_area :wg_reply_comment, class: "form-control" %>
</div>

<div>
  <%= form.label :技術計画推進コメント状態, style: "display: block;" %>
  <%= form.number_field :wg_comment_status, class: "form-control" %>
</div>

<div>
  <%= form.label :申請ステータス, style: "display: block;" %>
  <%= form.number_field :apply_status, class: "form-control" %>
</div>

<div>
  <%= form.label :技術確認ステータス, style: "display: block;" %>
  <%= form.number_field :tech_status, class: "form-control" %>
</div>

<div>
  <%= form.label :判定結果, style: "display: block;" %>
  <%= form.number_field :approve_status, class: "form-control" %>
</div>
<div>
  <%= form.label :技術確認者, style: "display: block;" %>
  <%= form.text_field :tech_check_name, class: "form-control" %>
</div>




<div>
  <%= form.label :sk_approve_cost, '設備計画作業部会承認金額（千円）', style: "display: block;" %>
  <%= form.number_field :sk_approve_cost, class: "form-control" %>
</div>

<% else %>
<%= form.hidden_field :apply_status, value: 0 %>
<%= form.hidden_field :tech_status, value: 0 %>
<%= form.hidden_field :approve_status, value: 0 %>
<%= form.hidden_field :wg_comment_status, value: 0 %>
<% end %>







<div>
  <%= form.submit %>
</div>
<% end %>