<% if apply.persisted? %>
<% authorized = current_user.login_ref_no.to_i == apply.apply_emp_no.to_i %>
<% boss_authorized = apply.boss1 && current_user.login_ref_no.to_i == apply.boss1.boss_no.to_i %>
<% wg_authorized = AdminUser.exists?(emp_no: current_user.login_ref_no.to_i, wg_flag: 1) %>

<% if authorized %>
<h3>編集画面</h3>
<% elsif boss_authorized %>
<h3>原局確認画面</h3>
<% elsif wg_authorized %>
<h3>設備計画作業部会確認画面</h3>
<% end %>

<% elsif apply.new_record? %>
<h3>新規作成画面</h3>
<% else %>
error
<% end %>

<div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1000;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <p>検索中...</p>
  </div>
</div>

<div class="container-fluid my-5">
  <%= form_with(model: apply, local: true) do |form| %>
  <% if apply.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(apply.errors.count, "エラー") %> 件のエラーにより、申請が保存できませんでした:</h2>
    <ul>
      <% apply.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>




  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">申請番号: <%= apply.id %></h5>
        </div>
        <div class="card-body">
          <dl class="row mb-0">
            <%= form.fields_for :apply_status, apply.apply_status || apply.build_apply_status do |apply_status_form| %>

            <dt class="col-sm-4">
              <%= apply_status_form.label :apply_status, '申請ステータス', style: "display: block;" %>
            </dt>
            <dd class="col-sm-8">

              <% if authorized && @apply.boss1&.boss_status == 0 %>
              <%= apply_status_form.select :apply_status, [["作業中", 0], ["作業完了", 1]], {}, { class: "form-control" } %>
              <div class="col-sm-8" an><%= @apply.apply_status.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H時%M分%S秒') %></div>
              <% elsif authorized && @apply.boss1&.boss_status == 1 %>
              <%= apply_status_form.select :apply_status, [["作業完了", 1], ["申請済み", 2]], {}, { class: "form-control" } %>
              <div class="col-sm-8"><%= @apply.apply_status.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H時%M分%S秒') %></div>
              <% elsif apply.persisted? %>
              <%= apply_status_label(apply.apply_status.apply_status) %>
              <div class="col-sm-8"><%= @apply.apply_status.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H時%M分%S秒') %></div>
              <% elsif  apply.new_record?%>
              <%= apply_status_label(0) %>
              <%= apply_status_form.hidden_field :apply_status, value: apply.new_record? ? 0 : apply_status %>
              <% else %>
              error
              <% end %>

            </dd>



            <% end %>






            <dt class="col-sm-4"><%= form.label :判定結果, style: "display: block;" %></dt>







            <dd class="col-sm-8"><%= approve_status_label(apply.approve_status) %>
              <%= form.hidden_field :approve_status, value: apply.new_record? ? 0 : apply.approve_status %>
            </dd>










            <dt class="col-sm-4"><%= form.label :sk_approve_cost, '承認金額（千円）', style: "display: block;" %></dt>


            <dd class="col-sm-8"><%= apply.sk_approve_cost %>
              <%= form.hidden_field :sk_approve_cost, class: "form-control" %></dd>

            <%= form.fields_for :boss1, @apply.boss1 || @apply.build_boss1 do |boss1_form| %>
            <dt class="col-sm-4"><%= boss1_form.label :原局確認者, style: "display: block;" %></dt>
            <dd class="col-sm-8"> <%= boss1_form.object.boss_name %>


              <% if boss_authorized && apply.apply_status.apply_status == 0 %>
              (<%= boss_status_label(0) %>)

              <% elsif boss_authorized && apply.apply_status.apply_status == 1 %>
              <%= boss1_form.select :boss_status, [["未確認", 0], ["確認済み", 1]], {}, { class: "form-control" }  %>
              <div class="col-sm-8"> <%= boss1_form.object.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H時%M分%S秒') %></div>

              <% elsif boss_authorized && apply.apply_status.apply_status == 2 %>
              (<%= boss_status_label(2) %>)
              <div class="col-sm-8"> <%= boss1_form.object.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H時%M分%S秒') %></div>

              <% else %>
              (<%= boss_status_label(apply.boss1.boss_status) %>)
              <% if apply.boss1.persisted? %>
              <div class="col-sm-8"> <%= boss1_form.object.updated_at.in_time_zone('Tokyo').strftime('%Y年%m月%d日 %H時%M分%S秒') %></div>
              <% end %>
              <% end %>
              <% end %>


            <dt class="col-sm-4"><%= form.label :技術計画推進部確認, style: "display: block;" %></dt>
            <dd class="col-sm-8"><%= @apply.tech_check_name %>(<%= tech_status_label(apply.tech_status) %>)
              <%= form.hidden_field :tech_status, value: apply.new_record? ? 0 : apply.tech_status %>
            </dd>





            <div class="col-md-6">

              <div class="form-group">

                <%= form.fields_for :sk_comment, apply.sk_comment || apply.build_sk_comment do |sk_comment_form| %>
                <dt class="col-sm-5">
                  <%= sk_comment_form.label :sk_comment, '設備作業部会コメント', style: "display: block;" %>
                </dt>
                <dd>



                  <% if wg_authorized %>
                  <%= sk_comment_form.text_area :sk_comment, class: "form-control" %>


                  <% else %>
                  <%= apply.sk_comment.sk_comment %>
                  <% end %>



                </dd>
                <% end %>

              </div>
              <div class="form-group">
                <%= form.label :技術計画推進コメント %>
                (<%= tech_status_label(apply.wg_comment_status) %>)
                <%= form.hidden_field :wg_comment_status %>
                <%= apply.wg_comment %>
                <%= form.hidden_field :wg_comment, class: "form-control" %>
              </div>
              <div class="form-group <%= authorized ? '' : 'disabled-field' %>">
                <%= form.label :回答コメント, style: "display: block;" %>
                <%= form.text_area :wg_reply_comment, class: "form-control" %>
              </div>


            </div>
            <%# Add other selection elements here as needed %>
        </div>

      </div>




      <div class="card mt-4">
        <div class="card-header">
          <h5 class="mb-0">
            <label for="files" class="form-label">添付ファイル
          </h5>
        </div>
        <div class="card-body">
          <% if authorized %>
          <dt class="col-sm-16" data-controller="files">
            <% if apply.persisted? %> <%# Check if the apply record already exists %>
            <div class="file-upload-wrapper">
              <%= form.file_field :files, multiple: true, data: { action: "change->files#selectFiles", files_target: "select", apply_id: @apply.id }, style: "display: none;", id: "apply_files" %>
              <button type="button" class="btn btn-secondary btn-sm" onclick="document.getElementById('apply_files').click()">ファイルを選択</button>
              <span data-files-target="filenames"></span>
              <small class="form-text text-muted">複数ファイルを選択できます。ファイル選択時点で登録されます</small>
            </div>
            <div data-files-target="preview">
              <% if @apply.files.attached? %>
              <% @apply.files.each do |file| %>
              <div class="d-flex mb-16" data-files-target="file_box" style="align-items: center;">
                <div style="flex: 1;"> <%= link_to file.filename, url_for(file), target: :_blank, class: "d-inline-block text-truncate", style: "max-width: 600px;" %> </div>
                <button type="button" class="btn btn-sm btn-danger ms-auto" data-action="click->files#deleteFile">削除</button>
                <%= form.hidden_field :files, name: "apply[files][]", value: file.blob.id, class: "d-none" %>
              </div>
              <% end %>
              <% end %>
            </div>
            <% else %>
            <p>ファイルの添付は新規申請後、編集画面で可能になります。</p>
            <% end %>
          </dt>
          <% else %>
          <dt class="col-sm-16">
            <% if apply.files.attached? %>
            <% apply.files.each do |file| %>
            <div class="d-flex mb-16" style="align-items: center;">
              <div style="flex: 1;"> <%= link_to file.filename, url_for(file), target: :_blank, class: "d-inline-block text-truncate", style: "max-width: 600px;" %> </div>
            </div>
            <% end %>
            <% else %>
            <p>添付ファイルはありません。</p>
            <% end %>
            <% end %>



        </div>
      </div>
    </div>


    <div class="col-md-8">
      <div class="row">
        <div class="col-md-15">
          <div class="row">
            <div class="col-md-1">
              <%= form.label :社員番号, style: "display: block;" %>
              <%= form.hidden_field :apply_emp_no, value: @employee_number %> <%= @employee_number %>
            </div>
            <div class="col-md-1">
              <%= form.label :申請者氏名, style: "display: block;" %>
              <%= form.hidden_field :apply_emp_name, value: @employee_user %> <%= @employee_user %>
            </div>
            <div class="col-md-4">
              <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
                <%= form.label :部署, style: "display: block;" %>
                <%= form.collection_select :department_id, @departments, :id, :dep_name, { prompt: "Select Department", selected: @preselected_department&.id }, { class: "form-control" } %>
              </div>
            </div>
          </div> <!-- End of row -->



          <div class="row" data-controller="apply">
            <div class="col-md-1">
              <%= form.label :対象年度, style: "display: block;" %>
              <%= form.hidden_field :year, value: @preselected_year %><%= @preselected_year %>
            </div>
            <div class="col-md-3">
              <%= form.label :区分 %>
              <%= form.fields_for :division, apply.division || apply.build_division do |division_form| %>
              <div class="col-md-8">
                <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
                  <%= division_form.check_box :new_pur %>
                  <%= division_form.label :new_pur, "新規" %>

                  <%= division_form.check_box :replace %>
                  <%= division_form.label :replace, "更新" %>

                  <%= division_form.check_box :repair %>
                  <%= division_form.label :repair, "修理" %>
                </div>
              </div>
              <% end %>
            </div>

            <div class="col-md-2">
              <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
                <%= form.label :申請種別, class: "d-block" %>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :apply_kind, 1, class: "form-check-input", data: { action: "change->apply#applyKindChanged" } %>
                  <%= form.label :apply_kind_1, '一般設備', class: "form-check-label" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :apply_kind, 2, class: "form-check-input", data: { action: "change->apply#applyKindChanged" } %>
                  <%= form.label :apply_kind_2, '放送設備', class: "form-check-label" %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div data-apply-target="refNo" class="form-group ">
                <%= form.label :整理番号, class: "d-block" %>
                <%= form.text_field :reference_no, class: "form-control" %>
              </div>

            </div>
          </div>
        </div>

        <div class="row, col-md-11">
          <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
            <%= form.label :品名, style: "display: block;" %>
            <%= form.text_field :item_name, class: "form-control" %>
          </div>
        </div>



        <div class="row">
          <div class="col-md-2">
            <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
              <%= form.label :型式, class: "d-block" %>
              <%= form.text_field :equipment_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
              <%= form.label :製造者名, class: "d-block" %>
              <%= form.text_field :manufacturer_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
              <%= form.label :取扱業者, class: "d-block" %>
              <%= form.text_field :supplier_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
              <%= form.label :数量, class: "d-block" %>
              <%= form.text_field :quantity, class: "form-control" %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
              <%= form.label :estimated_cost, '予定価格（千円）', class: "d-block" %>
              <%= form.number_field :estimated_cost, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
              <%= form.label :希望納期, class: "d-block" %>
              <div class="d-flex">
                <%= form.date_select :desired_delivery, {discard_day: true, start_year: Date.today.year, end_year: Date.today.year + 10, include_blank: true}, {class: "form-control"} %>
              </div>
            </div>

            <script>
              // ... (Your existing JavaScript code to update the hidden field remains unchanged)
            </script>

          </div>
          <div class="col-md-4">
            <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
              <%= form.label :設置場所, class: "d-block" %>
              <%= form.text_field :location, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row, col-md-11">
          <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
            <%= form.label :申請理由, style: "display: block;" %>
            <%= form.text_field :reason, class: "form-control" %>
          </div>
        </div>

        <div class="row, col-md-11">
          <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
            <%= form.label :具体的内容, style: "display: block;" %>
            <%= form.text_area :specific_contents, class: "form-control" %>
          </div>
        </div>



        <div data-controller="check">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">旧品資産フラグ
                <%= form.check_box :old_asset_multi, data: { action: "change->check#updateOldAssetFields" } %>
              </div>
            </div>

            <div data-check-target="oldAssetFields" style="display: none;">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
                    <%= form.label :old_asset_no, '旧品資産番号', class: "d-block" %>
                    <%= form.text_field :old_asset_no, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
                    <%= form.label :old_asset_YM, '旧品取得年月', class: "d-block" %>
                    <div class="d-flex">
                      <%= form.date_select :old_asset_YM, {discard_day: true, start_year: Date.today.year - 25, end_year: Date.today.year - 1, include_blank: true}, {class: "form-control"} %>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
                    <%= form.label :old_asset_cost, '旧品予定価格（千円）', class: "d-block" %>
                    <%= form.number_field :old_asset_cost, class: "form-control" %>
                  </div>
                </div>
              </div>

              <div class="row, col-md-11">
                <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
                  <%= form.label :旧品処理方法, style: "display: block;" %>
                  <%= form.text_field :old_asset_handling, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>
        </div>





        <%= form.fields_for :boss1, @apply.boss1 || @apply.build_boss1 do |boss1_form| %>
        <div data-controller="search">
          <div class="col-md-6">
            <div class="form-group <%= authorized || apply.new_record? ? '' : 'disabled-field' %>">
              <div class="input-group">
                <%= boss1_form.label :boss_no, '原局確認者社員番号', class: "input-group-text" %>
                <%= boss1_form.number_field :boss_no, class: "form-control", id: "boss-no-field", data: { search_target: "bossNoField" } %>
              </div>
            </div>

          </div>

          <div data-search-target="results" class="row">
            <div class="col-md-2">
              <%= boss1_form.label :boss_name, '原局確認者名', class: "form-label" %>
              <%= boss1_form.text_field :boss_name, class: "form-control", id: "boss_name", readonly: true, placeholder: "原局確認者の社員番号入力で自動記入されます" %>
            </div>
            <div class="col-md-2">
              <%= boss1_form.label :boss_email, '原局確認者メールアドレス', class: "form-label" %>
              <%= boss1_form.email_field :boss_email, class: "form-control", id: "boss_email", readonly: true, placeholder: "原局確認者の社員番号入力で自動記入されます" %>
            </div>
            <div class="col-md-4">
              <%= boss1_form.label :boss_depart, '原局', class: "form-label" %>
              <%= boss1_form.text_field :boss_depart, class: "form-control", id: "boss_depart", readonly: true, placeholder: "原局確認者の社員番号入力で自動記入されます" %>
            </div>
          </div>
        </div>
        <% end %>

        <div class="d-flex justify-content-end">
          <%= form.submit  class: "btn btn-success me-2"%>
          <%= link_to "戻る", applies_path, class: "btn btn-primary me-2" %>
          <% if apply.persisted? %>
          <%= link_to "削除", @apply, data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "btn btn-danger"%>
          <% end %>
        </div>

        <% end %>

      </div>

      <style>
        .disabled-field input,
        .disabled-field select,
        .disabled-field textarea,
        .disabled-field button,
        .disabled-field label {
          pointer-events: none;
          cursor: not-allowed;

        }
      </style>