<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">申請番号: <%= apply.id %></h5>
        </div>
        <div class="card-body">
          <dl class="row mb-0">
            <dt class="col-sm-4">申請ステータス</dt>
            <dd class="col-sm-8"><%= apply_status_label(apply.apply_status) %></dd>
            <dt class="col-sm-4">判定結果</dt>
            <dd class="col-sm-8"><%= approve_status_label(apply.approve_status) %></dd>
            <dt class="col-sm-4">承認金額（千円）</dt>
            <dd class="col-sm-8"><%= apply.sk_approve_cost %></dd>

            <dt class="col-sm-4">原局確認者</dt>
            <dd class="col-sm-8">
              <%= apply.boss1&.boss_name %>
              (<%= boss_status_label(apply.boss1&.boss_status) %>)
            </dd>
            <dt class="col-sm-4">技術計画推進部確認</dt>
            <dd class="col-sm-8"><%= apply.tech_check_name %>(<%= tech_status_label(apply.tech_status) %>)</dd>

            <dt class="col-sm-4">設備計画作業部会コメント</dt>
            <dd class="col-sm-8"><%= apply.sk_comment %></dd>
            <dt class="col-sm-4">技術計画推進コメント</dt>
            <dd class="col-sm-8"><%= apply.wg_comment %>(<%= tech_status_label(apply.wg_comment_status) %>)</dd>
            <dt class="col-sm-4">回答コメント</dt>
            <dd class="col-sm-8"><%= apply.wg_reply_comment %></dd>
          </dl>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h5 class="mb-0">添付ファイル</h5>
        </div>
        <div class="card-body">
          <dt class="col-sm-16">
            <% if apply.files.attached? %>
            <% apply.files.each do |file| %>
            <div class="d-flex mb-16" style="align-items: center;">
              <div style="flex: 1;"> <%= link_to file.filename, url_for(file), target: :_blank, class: "d-inline-block text-truncate", style: "max-width: 600px;" %> </div>
            </div>
            <% end %>
            <% else %>
            <p>添付ファイルはありません。</p>
            <% end %>
          </dt>
        </div>
      </div>
    </div>

    <div class="col-md-8">



      <div class="row">
        <div class="col-md-15">
          <div class="row">
            <div class="col-md-1">
              <div>社員番号</div>
              <div><%= apply.apply_emp_no %></div>
            </div>
            <div class="col-md-1">
              <div>申請者氏名</div>
              <div><%= apply.apply_emp_name %></div>
            </div>
            <div class="col-md-4">
              <div>部署</div>
              <div><%= apply.department&.dep_name %></div>
            </div>

          </div> <!-- End of row -->



          <div class="row">
            <div class="col-md-1">
              <div>対象年度</div> <%= apply.year %>
            </div>
            <div class="col-md-3">
              <div>区分</div>
              <div class="col-md-8">
                <div class="form-check form-check-inline">
                  <%= check_box_tag nil, nil, @apply.division.new_pur == 1, class: "form-check-input", onclick: "return false;" %>
                  <%= label_tag nil, "新規", class: "form-check-label" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= check_box_tag nil, nil, @apply.division.replace == 1, class: "form-check-input", onclick: "return false;" %>
                  <%= label_tag nil, "更新", class: "form-check-label" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= check_box_tag nil, nil, @apply.division.repair == 1, class: "form-check-input", onclick: "return false;" %>
                  <%= label_tag nil, "修理", class: "form-check-label" %>
                </div>
              </div>
            </div>



            <div class="col-md-2">
              <div class="form-group">
                <div>申請種別</div> <%= apply.apply_kind == 1 ? '一般設備' : '放送設備' %>
              </div>
            </div>
            <div class="col-md-4">


            </div>
          </div>
        </div>

        <div class="row, col-md-11">

          <div>品名</div> <%= apply.item_name %>
        </div>



        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <div>型式</div> <%= apply.equipment_name %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div>製造者名</div> <%= apply.manufacturer_name %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div>取扱業者</div> <%= apply.supplier_name %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div>数量</div> <%= apply.quantity %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div>予定価格（千円）</div> <%= apply.estimated_cost %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">

              <div>希望納期</div> <%= apply.desired_delivery&.strftime("%Y-%m") %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">

              <div>設置場所</div> <%= apply.location %>
            </div>
          </div>
        </div>

        <div class="row, col-md-11">
          <div>申請理由</div> <%= apply.reason %>
        </div>

        <div class="row, col-md-11">
          <div>具体的内容</div> <%= apply.specific_contents %>
        </div>




        <div class="row">
          <div class="col-md-4">
            <div class="form-group form-check">
              <div>旧品資産フラグ: <%= apply.old_asset_multi ? 'true' : 'false' %>
              </div>
            </div>


            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <div>旧品資産番号</div><%= apply.old_asset_no %>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">

                  <div>旧品取得年月</div><%= apply.old_asset_YM&.strftime("%Y-%m") %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">

                  <div>旧品予定価格（千円）</div> <%= apply.old_asset_cost %>
                </div>
              </div>
            </div>

            <div class="row, col-md-11">
              <div>旧品処理方法</div> <%= apply.old_asset_handling %>
            </div>
          </div>







        </div>
      </div>
    </div>