<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">申請番号: <%= apply.id %></h5>
        </div>
        <div class="card-body">
          <dl class="row mb-0">
            <dt class="col-sm-4">申請ステータス</dt>
            <dd class="col-sm-8"><%= apply_status_label(apply.apply_status) %></dd>
            <dt class="col-sm-4">判定結果</dt>
            <dd class="col-sm-8"><%= approve_status_label(apply.approve_status) %></dd>
            <dt class="col-sm-4">承認金額（千円）</dt>
            <dd class="col-sm-8"><%= apply.sk_approve_cost %></dd>

            <dt class="col-sm-4">原局確認者</dt>
            <dd class="col-sm-8">
              <%= apply.boss1&.boss_name %>
              (<%= boss_status_label(apply.boss1&.boss_status) %>)
            </dd>
            <dt class="col-sm-4">技術計画推進部確認</dt>
            <dd class="col-sm-8"><%= apply.tech_check_name %>(<%= tech_status_label(apply.tech_status) %>)</dd>

            <dt class="col-sm-4">設備計画作業部会コメント</dt>
            <dd class="col-sm-8"><%= apply.sk_comment %></dd>
            <dt class="col-sm-4">技術計画推進コメント</dt>
            <dd class="col-sm-8"><%= apply.wg_comment %>(<%= tech_status_label(apply.wg_comment_status) %>)</dd>
            <dt class="col-sm-4">回答コメント</dt>
            <dd class="col-sm-8"><%= apply.wg_reply_comment %></dd>
          </dl>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-header">
          <h5 class="mb-0">添付ファイル</h5>
        </div>
        <div class="card-body">
          <dt class="col-sm-16">
            <% if apply.files.attached? %>
            <% apply.files.each do |file| %>
            <div class="d-flex mb-16" style="align-items: center;">
              <div style="flex: 1;"> <%= link_to file.filename, url_for(file), target: :_blank, class: "d-inline-block text-truncate", style: "max-width: 600px;" %> </div>
            </div>
            <% end %>
            <% else %>
            <p>添付ファイルはありません。</p>
            <% end %>
          </dt>
        </div>
      </div>
    </div>

    <div class="col-md-8">



      <div class="row">
        <div class="col-md-15">
          <div class="row">
            <div class="col-md-1">
              社員番号: <%= apply.apply_emp_no %>
            </div>
            <div class="col-md-1">
              申請者氏名: <%= apply.apply_emp_name %>
            </div>
            <div class="col-md-4">
              部署: <%= apply.department&.dep_name %>
            </div>

          </div> <!-- End of row -->



          <div class="row" data-controller="apply">
            <div class="col-md-1">
              対象年度: <%= apply.year %>
            </div>
            <div class="col-md-3">
              区分: <%= apply.division.attributes.values.map{|v| v ? (v.to_s == 'true' ? v : 'false') : ''}.join(',') %>

            </div>

            <div class="col-md-2">
              <div class="form-group">
                申請種別: <%= apply.apply_kind == 1 ? '一般設備' : '放送設備' %>
              </div>
            </div>
            <div class="col-md-4">
              <div data-apply-target="refNo" class="form-group ">

              </div>

            </div>
          </div>
        </div>

        <div class="row, col-md-11">

          品名: <%= apply.item_name %>
        </div>



        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              型式: <%= apply.equipment_name %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              製造者名: <%= apply.manufacturer_name %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              取扱業者: <%= apply.supplier_name %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              数量: <%= apply.quantity %>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              予定価格（千円）: <%= apply.estimated_cost %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">

              希望納期: <%= apply.desired_delivery&.strftime("%Y-%m") %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">

              設置場所: <%= apply.location %>
            </div>
          </div>
        </div>

        <div class="row, col-md-11">
          申請理由: <%= apply.reason %>
        </div>

        <div class="row, col-md-11">
          具体的内容: <%= apply.specific_contents %>
        </div>



        <div data-controller="check">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group form-check"> 旧品資産フラグ: <%= apply.old_asset_multi ? 'true' : 'false' %>
              </div>
            </div>

            <div data-check-target="oldAssetFields" style="display: none;">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    旧品資産番号: <%= apply.old_asset_no %>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">

                    旧品取得年月: <%= apply.old_asset_YM&.strftime("%Y-%m") %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">

                    旧品予定価格（千円）: <%= apply.old_asset_cost %>
                  </div>
                </div>
              </div>

              <div class="row, col-md-11">
                旧品処理方法: <%= apply.old_asset_handling %>
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>
  </div>