<p style="color: green"><%= notice %></p>

<h1>申請一覧</h1>
<%= link_to "新規申請", new_apply_path %>

<%= search_form_for @search do |f| %>
<%= f.label :apply_kind_eq, "申請種別" %>
<%= f.select :apply_kind_eq, [['一般', 1], ['放送', 2]], { include_blank: true } %>

<%= f.label :item_name_cont, "品名" %>
<%= f.search_field :item_name_cont %>


<%= f.label :specific_contents_cont, "具体的内容" %>
<%= f.search_field :specific_contents_cont %>

<%= f.label :apply_emp_name_cont, "申請者" %>
<%= f.search_field :apply_emp_name_cont %>

<%= f.submit %>

<%# 検索結果と検索フォームをクリアする %>
<%= link_to "クリア", applies_path %>
<% end %>


<table>
  <thead>
    <tr>
      <th>対象年度</th>
      <th>申請種別</th>
      <th>申請番号</th>
      <th>整理番号</th>
      <th>OH</th>
      <th>品名</th>
      <th>予定価格（千円）</th>
      <th>申請部署</th>
      <th>申請者氏名（社員番号）</th>
      <th>添付ファイルステータス（数）</th>
      <th>原局確認ステータス</th>
      <th>申請ステータス</th>
      <th>技術計画推進ステータス</th>
      <th>判定結果</th>
      <th>最終更新日</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @applies.each do |apply| %>
    <tr>
      <%= render partial: 'apply', locals: { apply: apply } %>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-end mt-3">
  <%= paginate @applies %>
</div>