<p style="color: green"><%= notice %></p>

<h3>申請一覧</h3>

<%= search_form_for @search, data: {turbo_frame: "apply_index_new"} do |f| %>

<div data-controller="selectdep">
  <div class="row g-15">
    <div class="col-md-1">
      <%= f.label :year_eq, "申請年度"  %>
      <%= f.select :year_eq, @years, { include_blank: true }, class: 'form-control', data: { action: "change->selectdep#yearEqChange" } %>
    </div>
    <div class="col-md-2">
      <%= f.label :department_dep_name_eq, "部署" %>
      <%= f.select :department_dep_name_eq, [], { include_blank: "年度を選択してください" }, class: 'form-control',  data: { selectdep_target: "department"  }  %>
    </div>
    <div class="col-md-1">
      <%= f.label :apply_kind_eq, "申請種別" %>
      <%= f.select :apply_kind_eq, [['一般', 1], ['放送', 2]], { include_blank: true } , class: 'form-control'%>
    </div>
    <div class="col-md-2">
      <%= f.label :item_name_cont, "品名" %>
      <%= f.search_field :item_name_cont , class: 'form-control'%>
    </div>
    <div class="col-md-2">
      <%= f.label :specific_contents_cont, "具体的内容" %>
      <%= f.search_field :specific_contents_cont , class: 'form-control'%>
    </div>
    <div class="col-md-2">
      <%= f.label :apply_emp_name_cont, "申請者" %>
      <%= f.search_field :apply_emp_name_cont , class: 'form-control'%>
    </div>
    <div class="col-md-2">
      <label>&nbsp;</label><br>
      <%= f.submit "検索", class: "btn btn-primary" %>
      <%= link_to "クリア", applies_path, class: "btn btn-secondary ms-2" %>
      <% end %>
      <%= link_to "新規申請", new_apply_path, class: "btn btn-warning  ms-2 "  %>
    </div>
  </div>
</div>


<%= turbo_frame_tag "apply_index_new" do %>
<table>
  <thead>
    <tr>
      <th class="px-3">対象年度</th>
      <th class="px-3">申請種別</th>
      <th class="px-3">申請番号</th>
      <th class="px-3">整理番号</th>
      <th class="px-3">OH</th>
      <th class="px-3">品名</th>
      <th class="px-3">予定価格（千円）</th>
      <th class="px-3">申請部署</th>
      <th class="px-3">申請者氏名（社員番号）</th>
      <th class="px-3">原局確認ステータス</th>
      <th class="px-3">申請ステータス</th>
      <th class="px-3">技術計画推進ステータス</th>
      <th class="px-3">判定結果</th>
      <th class="px-3">最終更新日</th>
      <th class="px-3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @applies.each do |apply| %>
    <tr class="border-top border-gray-300">
      <%= render partial: 'apply', locals: { apply: apply, boss1: apply.boss1 } %>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-end mt-3">
  <%= paginate @applies %>
</div>
<% end %>